## Server environment variables
PORT=8085

## PostgreSQL connection (requested format)
POSTGRES_URI=jdbc:postgresql://84.247.170.83:5432/cheffit
POSTGRES_USER=postgres
POSTGRES_PASSWORD=P@ssw0rd!

## Auth
ACCESS_TOKEN_SECRET=change-me
REFRESH_TOKEN_SECRET=change-me

## Client
CLIENT_BASE_URL=http://localhost:5173

## Stripe (optional)
STRIPE_KEY=
STRIPE_PRICE_ID=


